.header {
	font-size: 175%;
	text-align: center;
}

.title {
	font-size: 125%;
	position: relative;
	margin-left: 15px;
	margin-top: 15px;
}

.text {
	margin-left: 15px;
}

div {
	background-color: grey;
	margin-left: 15px;
	border: 5px solid black;
}

#title1 {
	background-color: pink;
}

#title2 {
	background-color: red;
}

#title3 {
	background-color: yellow;
}
