.header {
	font-size: 175%;
	text-align: center;
}

.title {
    font-size: 125%;
    position: relative;
    margin-top: 0px;
    width: 80px;
    float: right;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

.text {
	margin-left: 15px;
}

.div {
	box-sizing: border-box;
	background-color: grey;
	margin-left: 15px;
	border: 5px solid black;
}

.container {
	margin-top: 15px;
	float: left;
}

@media( min-width: 992px ) {
	.container {
		width: 33.33%;
	}
}

@media( min-width: 768px ) AND ( max-width: 991px ) {
	.container {
		width: 50%;
	}
	
	#splDiv {
		width: 100%;
	}
}

@media( max-width: 767px ) {
	.container {
		width: 100%;
	}
}

#title1 {
	background-color: pink;
}

#title2 {
	background-color: red;
}

#title3 {
	background-color: yellow;
}
